{
  "environments": [
    {
      "name": "dev",
      "awscli-profile": "company-dev",
      "region": "eu-central-1",
      "enabled": true
    },
    {
      "name": "preprod",
      "awscli-profile": "company-preprod",
      "region": "us-east-2",
      "enabled": true
    },
    {
      "name": "prod",
      "awscli-profile": "company-prod",
      "region": "us-east-2",
      "enabled": false
    }
  ]
}
